a{
    color: #fff;
}
.logout{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.username{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin: 0 15px;
}